// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;

    .simulator {
        background: linear-gradient(180deg, #E0F7FA 0%, #80DEEA 100%);

        .animals-select {
            height: 56px;

            .add-button {
                z-index: 1;
            }

            .animals-substrate {
                background: #D7CCC8;
                border-radius: 0px 8px 8px 0px;
                left: 40px;

                .animals-ellipse {
                    background: #FFFFFF;
                    border: 2px solid #3E2723;
                    height: 48px;
                    width: 48px;
                    border-radius: 100%;

                    &:disabled {
                        opacity: .3;
                    }
                }
            }
        }

        .animal-image {
            width: 1%;
        }

        .popup-alert {
            font-size: initial;
            z-index: 1060;

            .bi {
                font-size: 24px;
            }
        }
    }

    .add-animal-modal {
        display: block;

        .modal-dialog {
            z-index: 1051;
        }
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 84px;
    }

    .links>a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .m-b-md {
        margin-bottom: 30px;
    }
}
